<h1>Bienvenidos al Chat de CabesasBier!</h1>

<div>
    <input id="chatBox" placeholder="Escribe un mensaje">
</div>

<div>
    <p id="messageLog"/>
</div>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/chat.js"></script>