<div class="container mt-5 w-50">
    <h2>Inicia sesion usando GitHub!</h2>
    <br>
    <a href="/api/sessions/github"> <button>Iniciar sesion</button> </a>
    <br>
    <br>
    <h4>No quieres usar GitHub? Proba con:</h4>
    <p>Aun no estas registrado? <a href="/users/register">Registrate aqui!</a></p>
    <p>Ya estas registrado? <a href="/users/login">Inicia sesion aqui!</a></p>
</div>