<div class="container mt-5 w-50">
    <h2>Inicia sesion!</h2>
    <br>
    <form id="loginForm">
        <div class="mb-3 w-50">
            <label for="nombre" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Ingresa tu Email">
        </div>
        <div class="mb-3 w-50">
            <label for="password" class="form-label">Contrase単a</label>
            <input type="password" class="form-control" name="password" placeholder="Ingresa tu contrase単a">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <br>
    <p>Aun no estas registrado? <a href="/users/register">Registrarse!</a></p>
    <br>
    <p>Olvidaste la contrase単a? <a href="/users/restore">Restaurar contrase単a!</a></p>
    <br>
    <p>Tienes una cuenta de GitHub?<a href="/github/login">Inicia usando GitHub!</a></p>
</div>
<script src="/js/login.js"></script>