<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">

        <input type="submit"><a href="/api/products">Enviar</a></button>
    </form>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
</div>
<script src="/src/public/js/login.js"></script>
