<div>
    <div class="container mt-5 w-50">
    <h2>Registro</h2>
    <br>
        <form id="registerForm">
            <div class="mb-3 w-50">
                <label for="first_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="first_name" placeholder="Ingresa tu nombre">
            </div>
            <div class="mb-3 w-50">
                <label for="last_name" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="last_name" placeholder="Ingresa tu apellido">
            </div>
            <div class="mb-3 w-50">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Ingresa tu email">
            </div>
            <div class="mb-3 w-50">
                <label for="age" class="form-label">Edad</label>
                <input type="number" class="form-control" name="age" placeholder="Ingresa tu edad">
            </div>
            <div class="mb-3 w-50">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <br>
        <p>Ya tienes una cuenta?<a href="/users/login">Iniciar sesion</a></p>
    </div>
</div>
<script src="/js/register.js"></script>