<div class="container mt-5">
    <form id="restoreForm">
        <div class="mb-3">
            <label for="nombre" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Ingresa tu email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Nueva contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="Ingresa tu nueva contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <p>No estas registrado?<a href="/users/register">Inicia aqui</a></p>
</div>
<script src="/js/restore.js"></script>